* {
  margin: 0;
  padding: 0;
}

.Title{
  font-size: 100px;
  text-align: center;
}
.images{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  margin-left: 400px;
}

.image{
  height: 600px;
  width: 1200px;
  justify-content: center;
}

.buttons{
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  margin-right: 100px;
}

.button1{
  position: absolute;
  color: #fff;
  text-decoration: none; 
  user-select: none; 
  background: rgb(212,75,56);
  padding: .7em 1.5em; 
  outline: none; 
  margin-left: -100px;
}

.button2{
  position: absolute;
  color: #fff;
  text-decoration: none; 
  user-select: none; 
  background: rgb(212,75,56);
  padding: .7em 1.5em; 
  outline: none; 
  margin-right: 100px;
}

.button3{
  position: absolute;
  color: #fff;
  text-decoration: none; 
  user-select: none; 
  background: rgb(212,75,56);
  padding: .7em 1.5em; 
  outline: none; 
  margin-left: 100px;
}

.button4{
  position: absolute;
  color: #fff;
  text-decoration: none; 
  user-select: none; 
  background: rgb(212,75,56);
  padding: .7em 1.5em; 
  outline: none; 
  margin-left: 200px;
}

.window{
  position: absolute;
  visibility: hidden;       
  top: 10%;    
  right: 35%;                    
}

.buttonWindow { 
  position: absolute;
  font-size: 10px;  
  color: #fff;
  text-decoration: none; 
  user-select: none; 
  background: rgb(212,75,56);
  padding: .7em 1.5em; 
  outline: none; 
}

.img1{
  position: absolute;
  visibility: visible;
}

.img2{
  position: absolute;
}

.img3{
  position: absolute;
}

.img4{
  position: absolute;
}

.img5{
  position: absolute;
}