*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header-inner{
    background-color:blanchedalmond;
    opacity: .5;
}

.registration-form{
    margin-top: 100px;
    height: 600px;
    width: 400px;
    border: 2px solid #000;
    text-align: center;
}

.registraion-title{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.main-form{
    height: 600px;
    width: 800px;
    background-color: rgb(28, 143, 219);
    margin: 0 auto;
    margin-top: 100px;
}

body{
    font-size: 15px;
    margin:0;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background:url("https://raw.githubusercontent.com/Sluip430/DevEducation/csshtml/src/assets/black2.jpg") no-repeat;
    background-size: cover;
    }

 /* Intro */
.intro{
    width: 100%;
    height: 70vh;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.conteiner-form{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.intro-title{
    margin-top: 250px;

    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    
}

.inputs-title{
    display:flex;
    justify-content: space-between;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 30px;
   
}

.inputs{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.result{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.buttons{
    margin-top: 20px;
    text-align: center;
}

.button-gen{
    margin-top: 30px;
}

.button-res{
    margin-top: 10px;
}

 /* Header */

.header {
    width: 100%;
    border-bottom: 2px solid #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: #000;
}



 /*Conteiner*/
 .container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
 }

 h1, h2, h3, h4, h5 , h6{
     margin: 0;
 }

 *,
 *:before,
 *:after{
     box-sizing: border-box;
 }

 .first-name-title{
     margin-top: 20px;
 }
